# Import

In [1]:
import pandas as pd
import numpy as np

# Code

In [2]:
movies = pd.read_csv('E:Internship/data/data_cleaned_v2.csv')

In [3]:
movies.head(10)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,release_year,new title,overview_cleaned
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,N/R,Toy Story,False,7.7,5415.0,1995,Toy Story (1995),"led woody, andi toy live happili room andi bir..."
1,False,N/R,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",N/R,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,1995,Jumanji (1995),sibl judi peter discov enchant board game open...
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",N/R,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,1995,Grumpier Old Men (1995),famili wed reignit ancient feud next-door neig...
3,False,N/R,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",N/R,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,1995,Waiting to Exhale (1995),"cheat on, mistreat step on, women hold breath,..."
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",N/R,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,1995,Father of the Bride Part II (1995),"georg bank recov daughter wedding, receiv news..."
5,False,N/R,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",N/R,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0,1995,Heat (1995),"obsess master thief, neil mccauley lead top-no..."
6,False,N/R,58000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",N/R,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,...,"[{'iso_639_1': 'fr', 'name': 'Fran√ßais'}, {'is...",Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141.0,1995,Sabrina (1995),"ugli duckl undergon remark change, still harbo..."
7,False,N/R,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",N/R,45325,tt0112302,en,Tom and Huck,"A mischievous young boy, Tom Sawyer, witnesses...",...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Original Bad Boys.,Tom and Huck,False,5.4,45.0,1995,Tom and Huck (1995),"mischiev young boy, tom sawyer, wit murder dea..."
8,False,N/R,35000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",N/R,9091,tt0114576,en,Sudden Death,International action superstar Jean Claude Van...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Terror goes into overtime.,Sudden Death,False,5.5,174.0,1995,Sudden Death (1995),intern action superstar jean claud van damm te...
9,False,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,James Bond must unmask the mysterious head of ...,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No limits. No fears. No substitutes.,GoldenEye,False,6.6,1194.0,1995,GoldenEye (1995),jame bond must unmask mysteri head janus syndi...

In [14]:
def top_n_popular(n:int = 10):
    return movies[['id','new title','popularity']].sort_values('popularity', ascending=False).head(n)

In [16]:
top_n_popular(20)

           id                                          new title  popularity
30683  211672                                     Minions (2015)  547.488298
33338  297762                                Wonder Woman (2017)  294.337037
42192  321612                        Beauty and the Beast (2017)  287.253654
43612  339403                                 Baby Driver (2017)  228.032744
24443  177572                                  Big Hero 6 (2014)  213.849907
26551  293660                                    Deadpool (2016)  187.860492
26553  283995              Guardians of the Galaxy Vol. 2 (2017)  185.330992
14551   19995                                      Avatar (2009)  185.070892
24339  245891                                   John Wick (2014)  183.870374
23665  210577                                   Gone Girl (2014)  154.801009
24860  131631       The Hunger Games: Mockingjay - Part 1 (2014)  147.098006
44240  281338              War for the Planet of the Apes (2017)  146.161786
26554  271110                  Captain America: Civil War (2016)  145.882135
292       680                                Pulp Fiction (1994)  140.950236
26547  166426  Pirates of the Caribbean: Dead Men Tell No Tal...  133.827820
12481     155                             The Dark Knight (2008)  123.167259
536        78                                Blade Runner (1982)   96.272374
17816   24428                                The Avengers (2012)   89.887648
43254  268531    Captain Underpants: The First Epic Movie (2017)   88.561239
33342  339988                                  The Circle (2017)   88.439243

In [31]:
movies['critically_acclaimed'] = movies['vote_count']/(10- movies['vote_average'] + 1e-3)

In [32]:
movies[movies['critically_acclaimed'] == float('inf')]

Empty DataFrame
Columns: [adult, belongs_to_collection, budget, genres, homepage, id, imdb_id, original_language, original_title, overview, popularity, poster_path, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, video, vote_average, vote_count, release_year, new title, overview_cleaned, critically_acclaimed]
Index: []

[0 rows x 28 columns]

In [38]:
def most_critically_acclaimed_movies(n: int = 10):
    return movies[['id','new title','critically_acclaimed']].sort_values('critically_acclaimed', ascending=False).head(n)

In [39]:
most_critically_acclaimed_movies()

           id                        new title  critically_acclaimed
15480   27205                 Inception (2010)           7403.997896
12481     155           The Dark Knight (2008)           7212.815991
22869  157336              Interstellar (2014)           5884.797475
2843      550                Fight Club (1999)           5689.594356
314       278  The Shawshank Redemption (1994)           5568.287808
292       680              Pulp Fiction (1994)           5097.001764
23743  118340   Guardians of the Galaxy (2014)           4766.301761
20046   68718          Django Unchained (2012)           4678.328033
17816   24428              The Avengers (2012)           4613.610150
351        13              Forrest Gump (1994)           4523.598001

In [42]:
def most_watched_movies(n: int = 10):
    return movies[['id','new title','vote_count']].sort_values('vote_count',ascending=False).head(n)

In [43]:
most_watched_movies()

           id                       new title  vote_count
15480   27205                Inception (2010)     14075.0
12481     155          The Dark Knight (2008)     12269.0
14551   19995                   Avatar (2009)     12114.0
17816   24428             The Avengers (2012)     12000.0
26551  293660                 Deadpool (2016)     11444.0
22869  157336             Interstellar (2014)     11187.0
20046   68718         Django Unchained (2012)     10297.0
23743  118340  Guardians of the Galaxy (2014)     10014.0
2843      550               Fight Club (1999)      9678.0
18242   70160         The Hunger Games (2012)      9634.0

In [49]:
def movies_for_children(n: int=10):
    children_movies = movies[movies['adult']==True]
    return children_movies[['id', 'new title', 'critically_acclaimed']].sort_values('critically_acclaimed', ascending=False).head(n)

In [57]:
movies[movies['title'] == 'Adulterers']['genres'].values

array(["[{'id': 53, 'name': 'Thriller'}, {'id': 80, 'name': 'Crime'}, {'id': 18, 'name': 'Drama'}]"],
      dtype=object)

In [50]:
movies_for_children(20)

           id                                new title  critically_acclaimed
40980  376004                        Adulterers (2016)              3.332639
40545   39922                  The Sinful Dwarf (1973)              3.094501
39873   35731        Amateur Porn Star Killer 2 (2008)              2.161578
32095  324230                       Diet of Sex (2014)              1.999667
39874   55774                          The Band (2009)              1.044620
28687  169158                          Standoff (1998)              0.961354
19486    5422  Erotic Nights of the Living Dead (1980)              0.897321
31916   44781                   Electrical Girl (2001)              0.000000

In [89]:
from selenium import webdriver
from selenium.webdriver.common.by import By

In [108]:
driver = webdriver.Chrome()

listin = ['Deadpool (2016)', 'The Dark Knight (2008)']
driver.get("https://www.imdb.com/?ref_=nv_home")
driver.implicitly_wait(10)
# for i in listin:
#     search_bar = driver.find_element(By.CLASS_NAME, 'imdb-header-search__input')
#     search_bar.send_keys(i)
#     search_bar.submit()
#     movie = driver.find_element(By.CLASS_NAME, 'ipc-metadata-list-summary-item')
#     movie.click()
#     try:
#         print(driver.find_element(By.XPATH, '//div[contains(@class,"sc-92625f35-3")]/div/ul/li[2]/a').text)    
#     except:
#         print('')
    
#     if adult_ornot:
#         print(f"Movie '{i}' is adult")
#     else:
#         print(f"Movie '{i}' is not adult")
not_yet_sure = movies[movies['adult'] == False]
movies['adult_made_sure'] = ''
for i in range(707,len(not_yet_sure.index)+1):
    search_bar = driver.find_element(By.CLASS_NAME, 'imdb-header-search__input')
    new_title = not_yet_sure.loc[i]['new title']
    search_bar.send_keys(new_title)
    search_bar.submit()
    movie = driver.find_element(By.CLASS_NAME, 'ipc-metadata-list-summary-item')
    movie.click()
    try:
        movies.loc[i,'adult_made_sure'] = driver.find_element(By.XPATH, '//div[contains(@class,"sc-92625f35-3")]/div/ul/li[2]/a').text    
    except:
        movies.loc[i,'adult_made_sure'] = ''

    print(f"Numnber of data analyzed {i+1}, {movies.loc[i,'adult_made_sure']}, left: {len(not_yet_sure) - (i+1)}", end='\r')

NoSuchWindowException: Message: no such window: target window already closed
from unknown error: web view not found
  (Session info: chrome=125.0.6422.0)
Stacktrace:
	GetHandleVerifier [0x00007FF6020522C2+60002]
	(No symbol) [0x00007FF601FCCA59]
	(No symbol) [0x00007FF601E87EDA]
	(No symbol) [0x00007FF601E5D5B5]
	(No symbol) [0x00007FF601F03727]
	(No symbol) [0x00007FF601F1B3A1]
	(No symbol) [0x00007FF601EFC033]
	(No symbol) [0x00007FF601EC9657]
	(No symbol) [0x00007FF601ECA251]
	GetHandleVerifier [0x00007FF602363E2D+3278285]
	GetHandleVerifier [0x00007FF6023B0190+3590448]
	GetHandleVerifier [0x00007FF6023A61D0+3549552]
	GetHandleVerifier [0x00007FF602101DE6+779654]
	(No symbol) [0x00007FF601FD7ACF]
	(No symbol) [0x00007FF601FD2EE4]
	(No symbol) [0x00007FF601FD3072]
	(No symbol) [0x00007FF601FC2C4F]
	BaseThreadInitThunk [0x00007FF80561257D+29]
	RtlUserThreadStart [0x00007FF80592AA48+40]

In [115]:
import time

In [148]:
from selenium.webdriver import ChromeOptions

In [163]:
import undetected_chromedriver as uc
driver = uc.Chrome(headless=True)

# driver = webdriver.Chrome()

driver.get('https://google.com')
driver.implicitly_wait(1)
for i in range(1527, len(not_yet_sure)+1):
    search_bar = driver.find_element(By.XPATH, '//div/textarea[contains(@class,"gLFyf")]')
    search_bar.send_keys(f"What is the age rating of {movies.loc[i]['new title']}")
    search_bar.submit()
    try:
        age_rating = driver.find_element(By.XPATH, '//div[contains(@class,"Z0LcW")]/a').text
        movies.loc[i,'adult_made_sure'] = age_rating
    except:
        movies.loc[i,'adult_made_sure'] = ''
    # time.sleep(1)
    print(f"Numnber of data analyzed {i+1}, {movies.loc[i,'adult_made_sure']}, left: {len(not_yet_sure) - (i+1)} ", end='\r')
    cancel_button = driver.find_element(By.XPATH, '//div/span[contains(@class,"ExCKkf")]')
    cancel_button.click()

could not detect version_main.therefore, we are assuming it is chrome 108 or higher

KeyboardInterrupt:

In [166]:
len(movies[movies['original_title'].duplicated()])

2090

In [178]:
movies[movies['title'] == 'Toy Story']['adult_made_sure']

0
Name: adult_made_sure, dtype: object

In [181]:
movies['adult_made_sure'].value_counts()

adult_made_sure
                   44460
R (USA)              409
PG (USA)             165
PG-13                162
Not Rated (USA)      128
G (USA)               58
R                     28
Not Rated              7
PG                     6
NC-17 (USA)            2
Unrated                1
1996                   1
1995‚Äì                  1
G                      1
Name: count, dtype: int64

In [183]:
movies1 = movies.copy(deep=True)

In [185]:
movies1['adult_made_sure'].replace('',movies1[movies1.duplicated('original_title')]['original_title', 'adult_made_sure'])

ValueError: Series.replace cannot use dict-value and non-None to_replace

In [196]:
first_duplicates = movies1.drop_duplicates(subset='original_title', keep = 'first')

In [197]:
first_duplicates

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,tagline,title,video,vote_average,vote_count,release_year,new title,overview_cleaned,critically_acclaimed,adult_made_sure
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,N/R,Toy Story,False,7.7,5415.0,1995,Toy Story (1995),"led woody, andi toy live happili room andi bir...",2353.324641,
1,False,N/R,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",N/R,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,1995,Jumanji (1995),sibl judi peter discov enchant board game open...,778.136085,
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",N/R,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,1995,Grumpier Old Men (1995),famili wed reignit ancient feud next-door neig...,26.278206,
3,False,N/R,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",N/R,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,1995,Waiting to Exhale (1995),"cheat on, mistreat step on, women hold breath,...",8.715714,
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",N/R,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,1995,Father of the Bride Part II (1995),"georg bank recov daughter wedding, receiv news...",40.223204,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45422,False,N/R,0,"[{'id': 878, 'name': 'Science Fiction'}]",N/R,222848,tt0112613,en,Caged Heat 3000,It's the year 3000 AD. The world's most danger...,...,N/R,Caged Heat 3000,False,3.5,1.0,1995,Caged Heat 3000 (1995),year 3000 ad. world danger women banish remot ...,0.153822,
45424,False,N/R,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,ÿ±⁄Ø ÿÆŸàÿßÿ®,Rising and falling between a man and woman.,...,Rising and falling between a man and woman,Subdue,False,4.0,1.0,2017,Subdue (2017),rise fall man woman.,0.166639,
45425,False,N/R,0,"[{'id': 18, 'name': 'Drama'}]",N/R,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,N/R,Century of Birthing,False,9.0,3.0,2011,Century of Birthing (2011),artist struggl finish work storylin cult play ...,2.997003,
45427,False,N/R,0,[],N/R,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,N/R,Satan Triumphant,False,0.0,0.0,1917,Satan Triumphant (1917),"small town live two brothers, one minist one h...",0.000000,
45428,False,N/R,0,[],N/R,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,N/R,Queerama,False,0.0,0.0,2017,Queerama (2017),"50 year decriminalis homosexu uk, director dai...",0.000000,

In [198]:
duplicate_map = first_duplicates.set_index('original_title')['adult_made_sure']

In [199]:
movies1['adult_made_sure'] = movies1['original_title'].map(duplicate_map).where(movies1['original_title'].duplicated(keep=False), movies1['adult_made_sure'])

In [203]:
movies1[movies['original_title'].duplicated(keep='last')]

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,tagline,title,video,vote_average,vote_count,release_year,new title,overview_cleaned,critically_acclaimed,adult_made_sure
5,False,N/R,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",N/R,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",...,A Los Angeles Crime Saga,Heat,False,7.7,1886.0,1995,Heat (1995),"obsess master thief, neil mccauley lead top-no...",819.643633,
6,False,N/R,58000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",N/R,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,...,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141.0,1995,Sabrina (1995),"ugli duckl undergon remark change, still harbo...",37.095501,
16,False,N/R,16500000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",N/R,4584,tt0114388,en,Sense and Sensibility,"Rich Mr. Dashwood dies, leaving his second wif...",...,Lose your heart and come to your senses.,Sense and Sensibility,False,7.2,364.0,1995,Sense and Sensibility (1995),"rich mr. dashwood dies, leav second wife daugh...",129.953588,
25,False,N/R,0,"[{'id': 18, 'name': 'Drama'}]",N/R,16420,tt0114057,en,Othello,The evil Iago pretends to be friend of Othello...,...,"Envy, greed, jealousy and love.",Othello,False,7.0,33.0,1995,Othello (1995),evil iago pretend friend othello order manipul...,10.996335,
27,False,N/R,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",N/R,17015,tt0114117,en,Persuasion,This film adaptation of Jane Austen's last nov...,...,N/R,Persuasion,False,7.4,36.0,1995,Persuasion (1995),film adapt jane austen last novel follow ann e...,13.840830,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42038,False,N/R,0,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",N/R,254299,tt3439092,de,Die goldene Gans,N/R,...,N/R,Die goldene Gans,False,0.0,0.0,2013,Die goldene Gans (2013),n/r,0.000000,
42139,False,N/R,5000000,"[{'id': 9648, 'name': 'Mystery'}, {'id': 53, '...",http://www.getoutfilm.com/,419430,tt5052448,en,Get Out,Chris and his girlfriend Rose go upstate to vi...,...,"Just because you're invited, doesn't mean you'...",Get Out,False,7.2,2978.0,2017,Get Out (2017),chris girlfriend rose go upstat visit parent w...,1063.191717,
42747,False,N/R,0,"[{'id': 9648, 'name': 'Mystery'}, {'id': 27, '...",http://screenmediafilms.net/productions/detail...,378018,tt4255304,en,The Void,"In the middle of a routine patrol, officer Dan...",...,There Is a Hell. This Is Worse.,The Void,False,5.8,207.0,2016,The Void (2016),"middl routin patrol, offic daniel carter happe...",49.273982,
43794,False,N/R,0,"[{'id': 18, 'name': 'Drama'}]",N/R,160124,tt2650954,ru,–î–æ–ª–≥–∞—è —Å—á–∞—Å—Ç–ª–∏–≤–∞—è –∂–∏–∑–Ω—å,Sascha lives in a village on the Kola Peninsul...,...,N/R,A Long and Happy Life,False,6.3,3.0,2013,A Long and Happy Life (2013),sascha live villag kola peninsular northern ru...,0.810592,
44111,False,N/R,3500000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",N/R,19312,tt0433883,en,The Black Hole,It's 2 A.M. in St. Louis when a routine scient...,...,No force from this world can stop it!,The Black Hole,False,3.4,15.0,2006,The Black Hole (2006),2 a.m. st. loui routin scientif experi goe ter...,2.272383,

In [206]:
movies[movies.duplicated()]

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,tagline,title,video,vote_average,vote_count,release_year,new title,overview_cleaned,critically_acclaimed,adult_made_sure
9165,False,N/R,0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",N/R,5511,tt0062229,fr,Le Samoura√Ø,Hitman Jef Costello is a perfectionist who alw...,...,There is no solitude greater than that of the ...,Le Samoura√Ø,False,7.9,187.0,1967,Le Samoura√Ø (1967),hitman jef costello perfectionist alway care p...,89.005236,
9327,False,N/R,0,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",N/R,23305,tt0295682,en,The Warrior,"In feudal India, a warrior (Khan) who renounce...",...,N/R,The Warrior,False,6.3,15.0,2001,The Warrior (2001),"feudal india, warrior (khan) renounc role long...",4.052959,
13375,False,N/R,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 9648, ...",N/R,141971,tt1180333,fi,Blackout,Recovering from a nail gun shot to the head an...,...,Which one is the first to return - memory or t...,Blackout,False,6.7,3.0,2008,Blackout (2008),"recov nail gun shot head 13 month coma, doctor...",0.908816,
16764,False,N/R,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 9648, ...",N/R,141971,tt1180333,fi,Blackout,Recovering from a nail gun shot to the head an...,...,Which one is the first to return - memory or t...,Blackout,False,6.7,3.0,2008,Blackout (2008),"recov nail gun shot head 13 month coma, doctor...",0.908816,
21157,False,N/R,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",N/R,119916,tt0080000,en,The Tempest,"Prospero, the true Duke of Milan is now living...",...,N/R,The Tempest,False,0.0,0.0,1980,The Tempest (1980),"prospero, true duke milan now live enchant isl...",0.000000,
21846,False,N/R,0,"[{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...",N/R,152795,tt1821641,en,The Congress,More than two decades after catapulting to sta...,...,N/R,The Congress,False,6.4,165.0,2013,The Congress (2013),"two decad catapult stardom princess bride, age...",45.820605,
22141,False,N/R,0,"[{'id': 28, 'name': 'Action'}, {'id': 27, 'nam...",http://www.daysofdarknessthemovie.com/,18440,tt0499456,en,Days of Darkness,When a comet strikes Earth and kicks up a clou...,...,N/R,Days of Darkness,False,5.0,5.0,2007,Days of Darkness (2007),"comet strike earth kick cloud toxic dust, hund...",0.999800,
23034,False,N/R,0,"[{'id': 18, 'name': 'Drama'}]",N/R,25541,tt1327820,da,Broderskab,Former Danish servicemen Lars and Jimmy are th...,...,N/R,Brotherhood,False,7.1,21.0,2009,Brotherhood (2009),former danish servicemen lar jimmi thrown toge...,7.238883,
24831,False,N/R,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",http://www.dealthemovie.com/,11115,tt0446676,en,Deal,As an ex-gambler teaches a hot-shot college ki...,...,N/R,Deal,False,5.2,22.0,2008,Deal (2008),ex-gambl teach hot-shot colleg kid thing play ...,4.582379,
28846,False,N/R,0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",N/R,168538,tt0084387,en,Nana,"In Zola's Paris, an ingenue arrives at a tony ...",...,N/R,"Nana, the True Key of Pleasure",False,4.7,3.0,1983,"Nana, the True Key of Pleasure (1983)","zola paris, ingenu arriv toni bordello: nana, ...",0.565931,
29360,False,N/R,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10769, 'n...",N/R,42495,tt0067306,en,King Lear,"King Lear, old and tired, divides his kingdom ...",...,N/R,King Lear,False,8.0,3.0,1971,King Lear (1971),"king lear, old tired, divid kingdom among daug...",1.499250,
35775,False,"{'id': 158365, 'name': 'Why We Fight', 'poster...",0,"[{'id': 99, 'name': 'Documentary'}]",N/R,159849,tt0173769,en,Why We Fight: Divide and Conquer,"The third film of Frank Capra's 'Why We Fight""...",...,N/R,Why We Fight: Divide and Conquer,False,5.0,1.0,1943,Why We Fight: Divide and Conquer (1943),"third film frank capra whi fight"" propaganda f...",0.199960,
38843,False,N/R,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",N/R,99080,tt0022537,en,The Viking,"Originally called White Thunder, American prod...",...,Actually produced during the Great Newfoundlan...,The Viking,False,0.0,0.0,1931,The Viking (1931),"origin call white thunder, american produc var...",0.000000,
40012,False,N/R,980000,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",N/R,298721,tt2818654,th,‡∏£‡∏±‡∏Å‡∏ó‡∏µ‡πà‡∏Ç‡∏≠‡∏ô‡πÅ‡∏Å‡πà‡∏ô,"In a hospital, ten soldiers are being treated ...",...,N/R,Cemetery of Splendour,False,4.4,50.0,2015,Cemetery of Splendour (2015),"hospital, ten soldier treat mysteri sleep sick...",8.926977,
40247,False,N/R,0,"[{'id': 35, 'name': 'Comedy'}]",N/R,97995,tt0127834,en,Seven Years Bad Luck,"After breaking a mirror in his home, superstit...",...,N/R,Seven Years Bad Luck,False,5.6,4.0,1921,Seven Years Bad Luck (1921),"break mirror home, superstiti max tri avoid si...",0.908884,
45229,False,N/R,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",N/R,265189,tt2121382,sv,Turist,"While holidaying in the French Alps, a Swedish...",...,N/R,Force Majeure,False,6.8,255.0,2014,Force Majeure (2014),"holiday french alps, swedish famili deal act c...",79.662605,

In [207]:
movies.drop_duplicates(inplace=True)

In [210]:
movies1.drop_duplicates(inplace=True)

In [211]:
movies1['adult_made_sure'].value_counts()

adult_made_sure
                   44266
R (USA)              456
PG (USA)             198
PG-13                190
Not Rated (USA)      152
G (USA)               97
R                     31
PG                     8
Not Rated              7
NC-17 (USA)            2
1995‚Äì                  2
Unrated                1
1996                   1
G                      1
Name: count, dtype: int64

In [208]:
movies['adult_made_sure'].value_counts()

adult_made_sure
                   44444
R (USA)              409
PG (USA)             165
PG-13                162
Not Rated (USA)      128
G (USA)               58
R                     28
Not Rated              7
PG                     6
NC-17 (USA)            2
Unrated                1
1996                   1
1995‚Äì                  1
G                      1
Name: count, dtype: int64

In [217]:
movies1['adult_made_sure']= movies1['adult_made_sure'].apply(replace_usa)

In [218]:
movies1['adult_made_sure'].value_counts()

adult_made_sure
             44266
R              487
PG             206
PG-13          190
Not Rated      159
G               98
NC-17            2
1995‚Äì            2
Unrated          1
1996             1
Name: count, dtype: int64

In [220]:
movies1.rename({'adult_made_sure':'age_rating'},axis=1, inplace=True)

In [221]:
movies1.to_csv("E:/Internship/data/movies_cleaned_v3.csv", index=False)

In [226]:
still_left = movies1[movies1['age_rating'] == '']

In [228]:
movies1

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,title,video,vote_average,vote_count,release_year,new title,overview_cleaned,critically_acclaimed,age_rating,adult_made_sure
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,Toy Story,False,7.7,5415.0,1995,Toy Story (1995),"led woody, andi toy live happili room andi bir...",2353.324641,,G (USA)
1,False,N/R,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",N/R,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,Jumanji,False,6.9,2413.0,1995,Jumanji (1995),sibl judi peter discov enchant board game open...,778.136085,,PG (USA)
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",N/R,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,Grumpier Old Men,False,6.5,92.0,1995,Grumpier Old Men (1995),famili wed reignit ancient feud next-door neig...,26.278206,,PG-13
3,False,N/R,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",N/R,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,Waiting to Exhale,False,6.1,34.0,1995,Waiting to Exhale (1995),"cheat on, mistreat step on, women hold breath,...",8.715714,,R (USA)
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",N/R,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,Father of the Bride Part II,False,5.7,173.0,1995,Father of the Bride Part II (1995),"georg bank recov daughter wedding, receiv news...",40.223204,,PG (USA)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45424,False,N/R,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,ÿ±⁄Ø ÿÆŸàÿßÿ®,Rising and falling between a man and woman.,...,Subdue,False,4.0,1.0,2017,Subdue (2017),rise fall man woman.,0.166639,,NaN
45425,False,N/R,0,"[{'id': 18, 'name': 'Drama'}]",N/R,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,Century of Birthing,False,9.0,3.0,2011,Century of Birthing (2011),artist struggl finish work storylin cult play ...,2.997003,,NaN
45426,False,N/R,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",N/R,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,Betrayal,False,3.8,6.0,2003,Betrayal (2003),"one hit goe wrong, profession assassin end sui...",0.967586,,NaN
45427,False,N/R,0,[],N/R,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,Satan Triumphant,False,0.0,0.0,1917,Satan Triumphant (1917),"small town live two brothers, one minist one h...",0.000000,,NaN
45428,False,N/R,0,[],N/R,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,Queerama,False,0.0,0.0,2017,Queerama (2017),"50 year decriminalis homosexu uk, director dai...",0.000000,,NaN

In [232]:
movies1.drop('adult_made_sure',axis=1,inplace=True)

In [236]:
movies1['age_rating']= movies1['age_rating'].apply(replace_usa)

In [237]:
movies1['age_rating'].value_counts()

age_rating
             44111
R              574
PG             227
PG-13          223
Not Rated      167
G              104
NC-17            2
1995‚Äì            2
Unrated          1
1996             1
Name: count, dtype: int64

In [238]:
still_left = movies1[movies1['age_rating'] == '']

In [239]:
still_left

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,tagline,title,video,vote_average,vote_count,release_year,new title,overview_cleaned,critically_acclaimed,age_rating
32,False,N/R,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 12, ...",N/R,78802,tt0114952,fr,"Guillaumet, les ailes du courage",N/R,...,N/R,Wings of Courage,False,6.8,4.0,1996,Wings of Courage (1996),n/r,1.249609,
47,False,"{'id': 136214, 'name': 'Pocahontas Collection'...",55000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",N/R,10530,tt0114148,en,Pocahontas,History comes gloriously to life in Disney's e...,...,An American legend comes to life.,Pocahontas,False,6.7,1509.0,1995,Pocahontas (1995),histori come glorious life disney epic anim ta...,457.134202,
52,False,N/R,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10769, 'n...",N/R,49133,tt0110299,it,Lamerica,"Fiore, an Italian conman, arrives in post Comm...",...,N/R,Lamerica,False,7.7,11.0,1994,Lamerica (1994),"fiore, italian conman, arriv post communist al...",4.780530,
55,False,N/R,0,[],N/R,124057,tt0113541,en,Kids of the Round Table,"Set in modern times, Alex finds King Arthur's ...",...,N/R,Kids of the Round Table,False,3.0,1.0,1997,Kids of the Round Table (1997),"set modern times, alex find king arthur sword ...",0.142837,
62,False,N/R,0,"[{'id': 35, 'name': 'Comedy'}]",N/R,10607,tt0116126,en,Don't Be a Menace to South Central While Drink...,When Ashtray (Shawn Wayans) moves to South Cen...,...,"Finally, the movie that proves that Justice is...",Don't Be a Menace to South Central While Drink...,False,6.2,192.0,1996,Don't Be a Menace to South Central While Drink...,ashtray (shawn wayans) move south central l.a....,50.513023,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45424,False,N/R,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,ÿ±⁄Ø ÿÆŸàÿßÿ®,Rising and falling between a man and woman.,...,Rising and falling between a man and woman,Subdue,False,4.0,1.0,2017,Subdue (2017),rise fall man woman.,0.166639,
45425,False,N/R,0,"[{'id': 18, 'name': 'Drama'}]",N/R,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,N/R,Century of Birthing,False,9.0,3.0,2011,Century of Birthing (2011),artist struggl finish work storylin cult play ...,2.997003,
45426,False,N/R,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",N/R,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,A deadly game of wits.,Betrayal,False,3.8,6.0,2003,Betrayal (2003),"one hit goe wrong, profession assassin end sui...",0.967586,
45427,False,N/R,0,[],N/R,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,N/R,Satan Triumphant,False,0.0,0.0,1917,Satan Triumphant (1917),"small town live two brothers, one minist one h...",0.000000,
45428,False,N/R,0,[],N/R,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,N/R,Queerama,False,0.0,0.0,2017,Queerama (2017),"50 year decriminalis homosexu uk, director dai...",0.000000,

In [1]:
import winsound    
import pandas as pd
import numpy as np
from selenium import webdriver
from selenium.webdriver.common.by import By

In [11]:
import time

In [2]:
movies1 = pd.read_csv("E:/Internship/data/movies_cleaned_v3.csv")

In [36]:
def replace_usa(text):
    text = str(text)
    if text != 'Not Rated (USA)':
        text = text.replace('(USA)','')
    text = text.strip()
    return text

In [17]:
still_left = movies1[movies1['age_rating'].isna()]
# movies1.tail(5)
still_left = movies1[movies1['age_rating'].isin([None, 'Nan','nan', ''])]
still_left

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,tagline,title,video,vote_average,vote_count,release_year,new title,overview_cleaned,critically_acclaimed,age_rating
12592,False,"{'id': 135483, 'name': 'Taken Collection', 'po...",25000000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",N/R,8681,tt0936501,en,Taken,"While vacationing with a friend in Paris, an A...",...,They took his daughter. He'll take their lives.,Taken,False,7.2,4444.0,2008,Taken (2008),"vacat friend paris, american girl kidnap gang ...",1586.576223,nan
15041,False,N/R,0,[],http://www.taqwacore.com/,166375,tt1519402,en,Taqwacore: The Birth of Punk Islam,The word Taqwacore is a combination of hardcor...,...,N/R,Taqwacore: The Birth of Punk Islam,False,6.0,1.0,2009,Taqwacore: The Birth of Punk Islam (2009),"word taqwacor combin hardcore, genr punk music...",0.249938,nan
17299,False,N/R,20000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",http://judymoodymovie.com/,60062,tt1547230,en,Judy Moody and the Not Bummer Summer,Third-grader Judy Moody sets out to have the m...,...,Supermegatotally thrilladelic,Judy Moody and the Not Bummer Summer,False,5.1,14.0,2011,Judy Moody and the Not Bummer Summer (2011),third-grad judi moodi set thrill summer life.,2.856560,nan
17557,False,N/R,0,"[{'id': 18, 'name': 'Drama'}]",N/R,51010,tt1360887,pl,Tatarak,As an aging woman married to a workaholic doct...,...,N/R,Sweet Rush,False,8.0,3.0,2009,Sweet Rush (2009),age woman marri workahol doctor chanc meet you...,1.499250,nan
20024,False,N/R,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",N/R,66722,tt0377990,de,The Goodbye Girl,Musical dancer on the way out (at 36) Paula Mc...,...,N/R,The Goodbye Girl,False,4.2,3.0,2004,The Goodbye Girl (2004),music dancer way (at 36) paula mcfadden swell ...,0.517152,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45407,False,N/R,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,ÿ±⁄Ø ÿÆŸàÿßÿ®,Rising and falling between a man and woman.,...,Rising and falling between a man and woman,Subdue,False,4.0,1.0,2017,Subdue (2017),rise fall man woman.,0.166639,nan
45408,False,N/R,0,"[{'id': 18, 'name': 'Drama'}]",N/R,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,N/R,Century of Birthing,False,9.0,3.0,2011,Century of Birthing (2011),artist struggl finish work storylin cult play ...,2.997003,nan
45409,False,N/R,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",N/R,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,A deadly game of wits.,Betrayal,False,3.8,6.0,2003,Betrayal (2003),"one hit goe wrong, profession assassin end sui...",0.967586,nan
45410,False,N/R,0,[],N/R,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,N/R,Satan Triumphant,False,0.0,0.0,1917,Satan Triumphant (1917),"small town live two brothers, one minist one h...",0.000000,nan
45411,False,N/R,0,[],N/R,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,N/R,Queerama,False,0.0,0.0,2017,Queerama (2017),"50 year decriminalis homosexu uk, director dai...",0.000000,nan

In [43]:
still_left = movies1[movies1['age_rating'].isin([None, 'NaN','nan', ''])]
len(still_left)

6257

In [46]:
still_left = movies1[movies1['age_rating'].isin([None, 'NaN','nan', ''])]


driver = webdriver.Chrome()
driver.implicitly_wait(0.5)
driver.get('https://google.com')
for i in still_left.index:
    try:
        search_bar = driver.find_element(By.XPATH, '//div/textarea[contains(@class,"gLFyf")]')
        search_bar.send_keys(f"What is the age rating of {movies1.loc[i]['new title']}")
        search_bar.submit()
        try:
            age_rating = driver.find_element(By.XPATH, '//div[contains(@class,"Z0LcW")]/a').text
            movies1.loc[i,'age_rating'] = age_rating
        except:
            try:
                age_rating = driver.find_element(By.XPATH, '//div[contains(@class,"Z0LcW")]/a').text
                movies1.loc[i,'age_rating'] = age_rating
            except:            
                movies1.loc[i,'age_rating'] = 'Not Rated'
    # time.sleep(1)
        print(f"Numnber of data analyzed {i+1},{movies1.loc[i,'new title']}, {movies1.loc[i,'age_rating']}\t\t", end='\r')
        cancel_button = driver.find_element(By.XPATH, '//div/span[contains(@class,"ExCKkf")]')
        cancel_button.click()
    except:
        movies1.loc[i,'age_rating'] = 'nan'
        winsound.Beep(1440, 200)  
        driver.close()
        driver = webdriver.Chrome()
        driver.get('https://google.com')
        still_left = movies1[movies1['age_rating'].isin([None, 'NaN','nan', ''])]
        
    # except:
        # raise EnvironmentError("I dont know what happend")
    if i % 5_000 == 0:
        time.sleep(45)

In [29]:
# movies1.loc[26300:26311,'age_rating'] = 'nan'

In [47]:
movies1['age_rating']= movies1['age_rating'].apply(replace_usa)
movies1.to_csv("E:/Internship/data/movies_cleaned_v3.csv", index=False)

In [48]:
movies1['age_rating'].value_counts()

age_rating
Not Rated          24510
R                   8955
Not Rated (USA)     4037
PG-13               3413
PG                  3237
G                   1199
NC-17                 57
1995‚Äì                  2
Unrated                1
1996                   1
Name: count, dtype: int64

In [82]:
driver = webdriver.Chrome()
driver.get("https://www.imdb.com/?ref_=nv_home")
not_sure_yet = movies1[movies1['age_rating'] == 'Not Rated']
# driver.implicitly_wait(10)
ELIGIBLE_RATINGS = ['R','PG-13','G','NC-17','PG','Approved','TV-PG','TV-13','TV-14']
for j,i in enumerate(not_sure_yet.index,1):
    try:
        new_title = not_sure_yet.loc[i]['new title']
        imdb = not_sure_yet.loc[i,'imdb_id']
        if imdb == None:
            search_bar = driver.find_element(By.CLASS_NAME, 'imdb-header-search__input')
            search_bar.send_keys(new_title)
            search_bar.submit()
            movie = driver.find_element(By.CLASS_NAME, 'ipc-metadata-list-summary-item')
            movie.click()
        else:
            driver.get(f"https://www.imdb.com/title/{imdb}/")
        try:
            val = driver.find_element(By.XPATH, '//div[contains(@class,"sc-92625f35-3")]/div/ul/li[2]/a').text
            if val in ELIGIBLE_RATINGS:
                movies1.loc[i,'age_rating'] = val
            else:
                movies1.loc[i,'age_rating'] = 'Unrated'    
        except:
            movies1.loc[i,'age_rating'] = 'Unrated'
    except:
        movies1.loc[i,'age_rating'] = 'Not Rated'
        winsound.Beep(1440, 200)  
        driver.close()
        driver = webdriver.Chrome()
        driver.get("https://www.imdb.com/?ref_=nv_home")
        
    print(f"\rNumber of data analyzed\t {j};id\t {i};left\t {(len(not_sure_yet) - j)};rating\t {movies1.loc[i,'age_rating']} \r", end='\r')

Number of data analyzed	 1424;id	 45411;left	 0;rating	 Unrated

In [66]:
# movies1.loc[870:878,'age_rating'] = 'Not Rated'

In [83]:
movies1['age_rating']= movies1['age_rating'].apply(replace_usa)
movies1.to_csv("E:/Internship/data/movies_cleaned_v3.csv", index=False)

In [84]:
movies1['age_rating'].value_counts()

age_rating
Unrated            18858
R                  10000
Not Rated (USA)     4037
PG-13               3787
PG                  3606
Approved            3233
G                   1320
TV-14                300
TV-PG                187
NC-17                 79
1995‚Äì                  2
TV-13                  2
1996                   1
Name: count, dtype: int64

In [217]:
movies

NameError: name 'movies' is not defined

In [168]:
movies[movies['original_title'] == 'Batman']

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,tagline,title,video,vote_average,vote_count,release_year,new title,overview_cleaned,critically_acclaimed,adult_made_sure
585,False,"{'id': 120794, 'name': 'Batman Collection', 'p...",35000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",N/R,268,tt0096895,en,Batman,The Dark Knight of Gotham City begins his war ...,...,Have you ever danced with the devil in the pal...,Batman,False,7.0,2145.0,1989,Batman (1989),dark knight gotham citi begin war crime first ...,714.761746,PG-13
8603,False,N/R,1377800,"[{'id': 10751, 'name': 'Family'}, {'id': 12, '...",N/R,2661,tt0060153,en,Batman,The Dynamic Duo faces four super-villains who ...,...,He's Here Big As Life In A Real Bat-Epic,Batman,False,6.1,209.0,1966,Batman (1966),dynam duo face four super-villain plan hold wo...,53.576006,

In [161]:

driver.get('https://nowsecure.nl')
driver.save_screenshot('nowsecure.png')

True

In [131]:
movies['adult_made_sure'] = movies['adult_made_sure'].str.rstrip()

In [85]:
movies2 = movies1.copy(deep=1)

In [119]:
import os

In [120]:
os.chdir('E:Internship/data/images/')

In [194]:
movies2['poster_done'] = False

In [164]:
listin = []

In [198]:
movies2['poster_link'] = None

In [185]:
import pandas as pd
import numpy as np
from selenium import webdriver
from selenium.webdriver.common.by import By
import requests

In [34]:

# still_left = movies2[(movies2['poster_done'] == False) | (movies2['poster_done'] == 'Blurred')]
still_left = movies2[(movies2['poster_done'] == False) | (movies2['poster_done'] == 'Still Blurred')]

driver = webdriver.Chrome()
# action = ActionChains(driver)#
# driver.implicitly_wait(3)
driver.implicitly_wait(1)
driver.get("https://www.google.com/")

for i, j in enumerate(still_left.index,1):
    try:
        search_bar = driver.find_element(By.XPATH, '//div/textarea[contains(@class,"gLFyf")]')
        search_bar.send_keys(f"What is the poster of {movies2.loc[j]['new title']} SFW")
        # google_search = driver.find_element(By.CLASS_NAME,"gLFyf")
        # google_search.send_keys(f"{movies2.loc[j,'new title']}")
        search_bar.submit()
        
        images_link_xpath = "//*[text()='Images']"
        image_tab = driver.find_element(By.XPATH, images_link_xpath)
        image_tab.click()
        filter = driver.find_element(By.XPATH, '//span[text()="Filter"]')
        filter.click()
        image_xpath = '//div[contains(@class,"H8Rx8c")]'
        try:
            required_image = driver.find_element(By.XPATH, image_xpath)
            required_image.click()
            try:
                the_image = driver.find_element(By.XPATH,'//img[@jsname="kn3ccd"]')
            # the_image.click()
            except:
                try: 
                    the_image = driver.find_element(By.XPATH,'//img[contains(@class,"sFlh5c")]')
                except:
                    the_image = driver.find_element(By.XPATH,'//img[@jsaction="VQAsE"]')
            png_image = the_image.get_attribute('src')
            # png_image = the_image.screenshot_as_png
            # with open(f'{movies2.loc[j,"id"]}.png','wb') as f:
            #     f.write(png_image)    
            # movies1.loc[i,'poster_none'] = True
            # image = requests.get(png_image, stream=True)
            # with open(f'{movies2.loc[j,"id"]}.png','wb') as f:
            #     for chunk in image.iter_content(chunk_size=64):    
            #         f.write(chunk)
            movies2.loc[j,'poster_done'] = True
            movies2.loc[j,'poster_link'] = png_image
        except:
            movies2.loc[j,'poster_done'] = "Still Blurred"
            
        cancel_button = driver.find_element(By.XPATH, '//div/span[contains(@class,"ExCKkf")]')
        cancel_button.click()
    except:
        movies2.loc[j,'poster_done'] = False
        winsound.Beep(1440, 200)  
        driver.close()
        driver = webdriver.Chrome()
        driver.get('https://google.com')

    print(f"The id:\t{j},no. iteration:\t{i}, left:\t{(len(still_left) - i)}, status:\t{movies2.loc[j,'poster_done']}", end='\r')

    # if i % 10 == 0:
    #     for id, src in listin:
    #         image = requests.get(src, stream=True)
    #         with open(f'{id}.png','wb') as f:
    #             for chunk in image.iter_content(chunk_size=64):    
    #                 f.write(chunk)

    #     print("Done: ",end='\r')
    #     listin = []
# time.sleep(10)

WebDriverException: Message: disconnected: not connected to DevTools
  (failed to check if window was closed: disconnected: not connected to DevTools)
  (Session info: chrome=125.0.6422.77)
Stacktrace:
	GetHandleVerifier [0x00007FF78F4A1F22+60322]
	(No symbol) [0x00007FF78F41CE99]
	(No symbol) [0x00007FF78F2D7EBA]
	(No symbol) [0x00007FF78F2BE03F]
	(No symbol) [0x00007FF78F2BEBAF]
	(No symbol) [0x00007FF78F2D84E3]
	(No symbol) [0x00007FF78F2AD08C]
	(No symbol) [0x00007FF78F35A7B4]
	(No symbol) [0x00007FF78F34C1E0]
	(No symbol) [0x00007FF78F319617]
	(No symbol) [0x00007FF78F31A211]
	GetHandleVerifier [0x00007FF78F7B946D+3301613]
	GetHandleVerifier [0x00007FF78F803693+3605267]
	GetHandleVerifier [0x00007FF78F7F9410+3563664]
	GetHandleVerifier [0x00007FF78F5542F6+790390]
	(No symbol) [0x00007FF78F4274DF]
	(No symbol) [0x00007FF78F4233D4]
	(No symbol) [0x00007FF78F423562]
	(No symbol) [0x00007FF78F412F6F]
	BaseThreadInitThunk [0x00007FF9D410257D+29]
	RtlUserThreadStart [0x00007FF9D53CAA48+40]

In [35]:
still_left = movies2[(movies2['poster_done'] == False) | (movies2['poster_done'] == 'Still Blurred')]
len(still_left)

114

In [ ]:
movies2.iloc[28023]['poster_link']

In [36]:
movies2.to_excel('E:/Internship/movies_cleaned_v4.xlsx', index=False)

In [37]:
clea = ['1996','1995‚Äì','Unrated','Not Rated (USA)','Approved']
movies2['age_rating'] = movies2['age_rating'].map(lambda x: str(x).strip())
movies2['age_rating'] = movies2['age_rating'].map(lambda x: 'Not Rated' if x in clea else x)
movies2.to_csv('E:/Internship/data/movies_cleaned_v5.csv', index=False)

In [ ]:
for j,i in enumerate(not_sure_yet.index,1):
    try:
        new_title = not_sure_yet.loc[i]['new title']
        imdb = not_sure_yet.loc[i,'imdb_id']
        if imdb == None:
            search_bar = driver.find_element(By.CLASS_NAME, 'imdb-header-search__input')
            search_bar.send_keys(new_title)
            search_bar.submit()
            movie = driver.find_element(By.CLASS_NAME, 'ipc-metadata-list-summary-item')
            movie.click()
        else:
            driver.get(f"https://www.imdb.com/title/{imdb}/")
        try:
            val = driver.find_element(By.XPATH, '//div[contains(@class,"sc-92625f35-3")]/div/ul/li[2]/a').text
            if val in ELIGIBLE_RATINGS:
                movies1.loc[i,'age_rating'] = val
            else:
                movies1.loc[i,'age_rating'] = 'Unrated'    
        except:
            movies1.loc[i,'age_rating'] = 'Unrated'
    except:
        movies1.loc[i,'age_rating'] = 'Not Rated'
        winsound.Beep(1440, 200)  
        driver.close()
        driver = webdriver.Chrome()
        driver.get("https://www.imdb.com/?ref_=nv_home")
        
    print(f"\rNumber of data analyzed\t {j};id\t {i};left\t {(len(not_sure_yet) - j)};rating\t {movies1.loc[i,'age_rating']} \r", end='\r')

In [7]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import winsound

In [2]:
movies2 = pd.read_csv("E:/Internship/data/movies_cleaned_v5.csv")

In [4]:
still_left = movies2[movies2['poster_done'] == False]

driver = webdriver.Chrome()
# action = ActionChains(driver)#
# driver.implicitly_wait(3)
driver.implicitly_wait(4)
driver.get("https://www.movieposterdb.com/")

for i, j in enumerate(still_left.index,1):
    try:
        imdb = str(movies2.loc[j,'imdb_id']).replace('tt0','')
        if imdb == None:
            title = movies2.loc[j,'new title']
            search = driver.find_element(By.CLASS_NAME, "form-control")
            search.send_keys(title)
            
        else:
            driver.get(f"https://www.movieposterdb.com/search?q={imdb}")
        try:
            the_image = driver.find_element(By.CLASS_NAME,"vertical-image")
            png_image = the_image.get_attribute('data-src')
        # png_image = the_image.screenshot_as_png
        # with open(f'{movies2.loc[j,"id"]}.png','wb') as f:
        #     f.write(png_image)    
        # movies1.loc[i,'poster_none'] = True
        # image = requests.get(png_image, stream=True)
        # with open(f'{movies2.loc[j,"id"]}.png','wb') as f:
        #     for chunk in image.iter_content(chunk_size=64):    
        #         f.write(chunk)
            print(png_image, end='\r')
            movies2.loc[j,'poster_done'] = True
            movies2.loc[j,'poster_link'] = png_image
        except:
            movies2.loc[j,'poster_done'] = False
            
        cancel_button = driver.find_element(By.XPATH, '//i[contains(@class,"fa-close")]')
        cancel_button.click()
    except:
        movies2.loc[j,'poster_done'] = False
        winsound.Beep(1440, 200)  
        driver.close()
        driver = webdriver.Chrome()
        driver.get("https://www.movieposterdb.com/")

    print(f"The id:\t{j},name:\t{movies2.loc[j,'new title']} no. iteration:\t{i}, left:\t{(len(still_left) - i)}, status:\t{movies2.loc[j,'poster_done']}", end='\r')

NameError: name 'winsound' is not defined

In [6]:
movies2.loc[11476,'poster_link']

nan

In [ ]:
movies2.to_excel('E:/Internship/movies_cleaned_v4.xlsx', index=False)
movies2.to_csv('E:/Internship/data/movies_cleaned_v5.csv', index=False)

In [252]:
str(movies2.loc[16123,'imdb_id'])

'tt1467273'

In [ ]:
https://posters.movieposterdb.com/15_12/2014/1431045/l_1431045_f149e984.jpg

In [225]:
movies2

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,video,vote_average,vote_count,release_year,new title,overview_cleaned,critically_acclaimed,age_rating,poster_done,poster_link
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,False,7.7,5415.0,1995,Toy Story (1995),"led woody, andi toy live happili room andi bir...",2353.324641,G,True,https://m.media-amazon.com/images/M/MV5BMDU2ZW...
1,False,N/R,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",N/R,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,False,6.9,2413.0,1995,Jumanji (1995),sibl judi peter discov enchant board game open...,778.136085,PG,True,https://m.media-amazon.com/images/M/MV5BZTk2Zm...
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",N/R,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,False,6.5,92.0,1995,Grumpier Old Men (1995),famili wed reignit ancient feud next-door neig...,26.278206,PG-13,True,https://m.media-amazon.com/images/M/MV5BMDkwYT...
3,False,N/R,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",N/R,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,False,6.1,34.0,1995,Waiting to Exhale (1995),"cheat on, mistreat step on, women hold breath,...",8.715714,R,True,https://m.media-amazon.com/images/M/MV5BYzcyMD...
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",N/R,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,False,5.7,173.0,1995,Father of the Bride Part II (1995),"georg bank recov daughter wedding, receiv news...",40.223204,PG,True,https://m.media-amazon.com/images/M/MV5BOTEyNz...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45407,False,N/R,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,ÿ±⁄Ø ÿÆŸàÿßÿ®,Rising and falling between a man and woman.,...,False,4.0,1.0,2017,Subdue (2017),rise fall man woman.,0.166639,Unrated,False,None
45408,False,N/R,0,"[{'id': 18, 'name': 'Drama'}]",N/R,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,False,9.0,3.0,2011,Century of Birthing (2011),artist struggl finish work storylin cult play ...,2.997003,Unrated,False,None
45409,False,N/R,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",N/R,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,False,3.8,6.0,2003,Betrayal (2003),"one hit goe wrong, profession assassin end sui...",0.967586,R,False,None
45410,False,N/R,0,[],N/R,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,False,0.0,0.0,1917,Satan Triumphant (1917),"small town live two brothers, one minist one h...",0.000000,Unrated,False,None
45411,False,N/R,0,[],N/R,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,False,0.0,0.0,2017,Queerama (2017),"50 year decriminalis homosexu uk, director dai...",0.000000,Unrated,False,None

In [195]:
for id, src in listin:
    image = requests.get(src, stream=True)
    print(id)
    with open(f'{id}.png','wb') as f:
        for chunk in image.iter_content(chunk_size=64):    
            f.write(chunk)

    print("Done: ",end='\r')

In [166]:
20 % 10

0

In [153]:
listin

[(862,
  'https://m.media-amazon.com/images/M/MV5BMDU2ZWJlMjktMTRhMy00ZTA5LWEzNDgtYmNmZTEwZTViZWJkXkEyXkFqcGdeQXVyNDQ2OTk4MzI@._V1_.jpg'),
 (8844,
  'https://m.media-amazon.com/images/M/MV5BZTk2ZmUwYmEtNTcwZS00YmMyLWFkYjMtNTRmZDA3YWExMjc2XkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_.jpg'),
 (15602,
  'https://m.media-amazon.com/images/M/MV5BMDkwYTZmMDQtOWNhOC00Y2I5LWI0NjQtOTljODBmZjU0NWU2XkEyXkFqcGdeQXVyMTcwOTQzOTYy._V1_FMjpg_UX1000_.jpg'),
 (31357,
  'https://m.media-amazon.com/images/M/MV5BYzcyMDY2YWQtYWJhYy00OGQ2LTk4NzktYWJkNDYwZWJmY2RjXkEyXkFqcGdeQXVyMTA0MjU0Ng@@._V1_FMjpg_UX1000_.jpg'),
 (11862,
  'https://m.media-amazon.com/images/M/MV5BOTEyNzg5NjYtNDU4OS00MWYxLWJhMTItYWU4NTkyNDBmM2Y0XkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_.jpg'),
 (949,
  'https://m.media-amazon.com/images/M/MV5BYjZjNTJlZGUtZTE1Ny00ZDc4LTgwYjUtMzk0NDgwYzZjYTk1XkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_FMjpg_UX1000_.jpg'),
 (11860,
  'https://upload.wikimedia.org/wikipedia/en/d/d9/Sabrina_%281995_film%29.jpg')]

In [115]:
driver = webdriver.Chrome()
# action = ActionChains(driver)#
driver.implicitly_wait(10)
driver.get("https://www.google.com/")
google_search = driver.find_element(By.CLASS_NAME,"gLFyf")
google_search.send_keys("Toy Story 2 Poster")
google_search.submit()
images_link_xpath = "//*[text()='Images']"
image_tab = driver.find_element(By.XPATH, images_link_xpath)
image_tab.click()
image_xpath = 'H8Rx8c'
required_image = driver.find_element(By.CLASS_NAME, image_xpath)
required_image.click()
the_image = driver.find_element(By.XPATH,'//img[@jsname="kn3ccd"]')

print(the_image.get_attribute('src'))

time.sleep(10)

https://i.etsystatic.com/28830178/r/il/f6dfae/3304701164/il_1080xN.3304701164_dp6g.jpg

In [94]:
test = movies2[movies2['poster_done'] == True]

In [107]:
print(len(test['poster_done'])==0)

True

In [89]:
print(f'E:/Internship/data/images/{movies2.loc[j,"id"]}')

KeyError: 'adult'