# Goals

- Download Get the links of remaining movie posters,
- Upload Movies data in database
- upload watchlist data
- create interface for new app of watchlist

In [65]:
# dataframe
import pandas as pd
import numpy as np
# selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
# others
import sys
import os
import time
import json

In [4]:
os.chdir("E:/Internship/data/")

In [7]:
df = pd.read_csv("movies_cleaned_v5.csv")

In [11]:
still_left = df[(df['poster_done'] == 'Still Blurred') | (df['poster_done'] == 'Blurred') |(df['poster_done'] == None)]

In [46]:
df[df['poster_link'].isna()]

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,video,vote_average,vote_count,release_year,new title,overview_cleaned,critically_acclaimed,age_rating,poster_done,poster_link
5306,False,N/R,0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",N/R,103299,tt0105631,en,Traces of Red,"Jack, a Palm Beach detective, becomes involved...",...,False,7.3,4.0,1992,Traces of Red (1992),"jack, palm beach detective, becom involv case ...",1.480933,R,True,NaN
11035,False,N/R,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",http://www.iamasexaddictthemovie.com/home.html,17628,tt0428649,en,I Am a Sex Addict,"Just moments before his third wedding, Zahedi ...",...,False,6.3,17.0,2005,I Am a Sex Addict (2005),"moment third wedding, zahedi relat utter since...",4.593353,Not Rated,False,NaN
11476,False,N/R,0,"[{'id': 18, 'name': 'Drama'}]",N/R,12812,tt0364120,fr,Wild Side,A transsexual who survives prostituting hersel...,...,False,6.9,5.0,2004,Wild Side (2004),"transsexu surviv prostitut paris, return – two...",1.612383,Not Rated,False,NaN
12255,False,"{'id': 472781, 'name': 'Inoshika Ocho series',...",0,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",N/R,20567,tt0070085,ja,不良姐御伝 猪の鹿お蝶,Sex & Fury chronicles Ocho's exploits as she s...,...,False,5.8,32.0,1973,Sex and Fury (1973),sex & furi chronicl ocho exploit search father...,7.617234,R,False,NaN
12476,False,N/R,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",N/R,12453,tt0419766,fr,Garçon stupide,This coming-of-age drama deals with a young ma...,...,False,4.4,9.0,2004,Stupid Boy (2004),"coming-of-ag drama deal young man, realiz real...",1.606856,Not Rated,False,NaN
13055,False,"{'id': 476063, 'name': 'Guinea Pig Collection'...",0,"[{'id': 27, 'name': 'Horror'}]",N/R,36073,tt0161635,ja,ギニーピッグ2 血肉の華,A woman walking home late at night is attacked...,...,False,4.8,31.0,1985,Guinea Pig 2: Flower of Flesh and Blood (1985),woman walk home late night attack unknown assa...,5.960392,Not Rated,False,NaN
19658,False,N/R,0,"[{'id': 35, 'name': 'Comedy'}]",N/R,94104,tt1772271,en,"3, 2, 1... Frankie Go Boom","Frank Bartlett has been tortured, embarrassed,...",...,False,5.6,22.0,2012,"3, 2, 1... Frankie Go Boom (2012)","frank bartlett tortured, embarrassed, humili b...",4.998864,Not Rated,error,NaN
19755,False,N/R,500,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",N/R,34004,tt0276011,en,Children of the Living Dead,Starting a new life in a quiet Pennsylvania to...,...,False,3.0,8.0,2001,Children of the Living Dead (2001),"start new life quiet pennsylvania town, matthe...",1.142694,R,error,NaN
20013,False,N/R,0,"[{'id': 27, 'name': 'Horror'}, {'id': 35, 'nam...",N/R,94583,tt0815165,en,The Gay Bed and Breakfast of Terror,Helen and Luella are just another typical God-...,...,False,3.6,7.0,2007,The Gay Bed and Breakfast of Terror (2007),helen luella anoth typic god-fear mother daugh...,1.093579,Not Rated,error,NaN
20622,False,N/R,0,"[{'id': 16, 'name': 'Animation'}, {'id': 28, '...",N/R,55892,tt0427531,ja,MEZZO FORTE,"Double the Girls, Double the Guns!! For Mikura...",...,False,6.0,7.0,2000,Mezzo Forte (2000),"doubl girls, doubl guns!! mikura, danger routi...",1.749563,Not Rated,error,NaN
34543,False,N/R,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",N/R,51285,tt1718766,ru,Detyam do 16...,"Kir, Leya, Dasha and Max are student. Almost e...",...,False,6.7,9.0,2010,PG 16... (2010),"kir, leya, dasha max student. almost everi exp...",2.726447,Not Rated,error,NaN

In [56]:
still_left = df[(df['poster_link'].isna()) & (df['poster_done'] != True)]

driver = webdriver.Chrome()
driver.implicitly_wait(10)
driver.get("https://www.google.com/")
for j,i in enumerate(still_left.index,1):
    try: 
        title = df.at[i,"new title"]
        search_bar = driver.find_element(By.XPATH,'//div/textarea[contains(@class,"gLFyf")]')
        search_bar.send_keys("What is the movie poster for {}".format(title))
        search_bar.submit()
        images_button = driver.find_element(By.XPATH,'//div[text()="Images"]').click()
        # filter_button = driver.find_element(By.XPATH,'//span[text()="Filter"]')
        # filter_button.click()

        if j == 1:
            time.sleep(5)
        try:
            image = driver.find_element(By.XPATH,'//div[contains(@class,"F0uyec")]/div/div[contains(@class,"H8Rx8c")]')
            image.click()
        except:
            image = driver.find_element(By.XPATH,'//div[contains(@class,"fR600b")]')
            image.click()
        try:
            image_big = driver.find_element(By.XPATH,'//div[contains(@class,"p7sI2")]/a/img[contains(@class,"sFlh5c")]')
            df.at[i,"poster_link"] = image_big.get_attribute("src")
            df.at[i,"poster_done"] = True
        except:
            df.at[i,"poster_done"] = "still not done"
        cancel_button = driver.find_element(By.XPATH,'//div[contains(@class,"M2vV3")]')
        cancel_button.click()
    except:
        df.at[i,"poster_done"] = "error"
        break

In [58]:
still_left = df[(df['poster_link'].isna())]
still_left

Empty DataFrame
Columns: [adult, belongs_to_collection, budget, genres, homepage, id, imdb_id, original_language, original_title, overview, popularity, poster_path, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, video, vote_average, vote_count, release_year, new title, overview_cleaned, critically_acclaimed, age_rating, poster_done, poster_link]
Index: []

[0 rows x 31 columns]

3,2,1... franki go boom https://upload.wikimedia.org/wikipedia/en/0/02/Frankie_Go_Boom.jpg

In [136]:
df[df['new title'] == "PG 16... (2010)"]['production_countries']

34543    [{"name": "Krasnaya Strela", "id": 3006}]
Name: production_countries, dtype: object

In [55]:
df.at[34543,'poster_done'] = True

In [54]:
df.at[34543,'poster_link'] = "https://m.media-amazon.com/images/M/MV5BMTkyMTgxNzIwOF5BMl5BanBnXkFtZTcwNjYyNjM5NA@@._V1_.jpg"

PG 16... (2010) https://m.media-amazon.com/images/M/MV5BMTkyMTgxNzIwOF5BMl5BanBnXkFtZTcwNjYyNjM5NA@@._V1_.jpg

In [ ]:
https://play-lh.googleusercontent.com/proxy/GHoc31ijM_g7xsAN4DkDvQuXgDWn0bzhz9NYvBbPRNLMeh4yF0D0yCEdvMr8syWrLBJZsU33XH9ChG2CI-RiF1qDHpWRt19htP8dtMkcpY-B43UN0i5Nub5PXYT3g5DyMfrChkfsOxE_SKXyi5n1H2TwfvCIffdXblL5PA

We have all the movie posters!!!!

In [71]:
k = json.dumps(df['spoken_languages'][0])

In [86]:
df['spoken_languages'][0]

'[{"iso_639_1": "en", "name": "English"}]'

In [134]:
df['production_countries'] = df['production_companies'].str.replace("'",'"')

In [135]:
df['production_countries'] = df['production_companies'].str.replace("\\",'')

In [87]:
k = json.loads(df['spoken_languages'][0])

In [92]:
k[0]['name']

'English'

In [ ]:
st

In [102]:
df.at[1,'spoken_languages']

'[{"iso_639_1": "en", "name": "English"}, {"iso_639_1": "fr", "name": "Français"}]'

In [115]:
still_left = df[df['new_spoken_languages'].isna()]
for i, j in enumerate(still_left.index,1):
    dictin = df.at[j,"spoken_languages"]
    if dictin == "N/R":
        result = []

    else:
        result = [k['iso_3166_1'] for k in json.loads(dictin)]

    df.at[j,'new_spoken_languages'] = str(result)

    print("Done {0}, value {1}".format(i, result), end="\r")

In [117]:
df['new_production_companies'] = None

In [132]:
still_left = df[df['new_production_companies'].isna()]
for i, j in enumerate(still_left.index,1):
    dictin = df.at[j,"production_companies"]
    if dictin == "N/R":
        result = []

    else:
        try:
            result = [k['name'] for k in json.loads(dictin)]
        except:
            pass
    df.at[j,'new_production_companies'] = str(result)

    print("Done {0}, value {1}".format(i, result), end="\r")

In [138]:
df = pd.read_csv("./movies_v5.csv",sep='\t')

C:\Users\mahat\AppData\Local\Temp\ipykernel_34920\2639248849.py:1: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("./movies_v5.csv",sep='\t')

In [139]:
df

,Unnamed: 0,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,video,vote_average,vote_count,release_year,new title,overview_cleaned,critically_acclaimed,age_rating,poster_done,poster_link
0,0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,...,False,7.7,5415.0,1995,Toy Story (1995),"led woody, andi toy live happili room andi bir...",2353.324641,G,True,https://m.media-amazon.com/images/M/MV5BMDU2ZW...
1,1,False,N/R,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",N/R,8844,tt0113497,en,Jumanji,...,False,6.9,2413.0,1995,Jumanji (1995),sibl judi peter discov enchant board game open...,778.136085,PG,True,https://m.media-amazon.com/images/M/MV5BZTk2Zm...
2,2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",N/R,15602,tt0113228,en,Grumpier Old Men,...,False,6.5,92.0,1995,Grumpier Old Men (1995),famili wed reignit ancient feud next-door neig...,26.278206,PG-13,True,https://m.media-amazon.com/images/M/MV5BMDkwYT...
3,3,False,N/R,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",N/R,31357,tt0114885,en,Waiting to Exhale,...,False,6.1,34.0,1995,Waiting to Exhale (1995),"cheat on, mistreat step on, women hold breath,...",8.715714,R,True,https://m.media-amazon.com/images/M/MV5BYzcyMD...
4,4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",N/R,11862,tt0113041,en,Father of the Bride Part II,...,False,5.7,173.0,1995,Father of the Bride Part II (1995),"georg bank recov daughter wedding, receiv news...",40.223204,PG,True,https://m.media-amazon.com/images/M/MV5BOTEyNz...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45407,45407,False,N/R,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,...,False,4.0,1.0,2017,Subdue (2017),rise fall man woman.,0.166639,Not Rated,True,https://encrypted-tbn0.gstatic.com/images?q=tb...
45408,45408,False,N/R,0,"[{'id': 18, 'name': 'Drama'}]",N/R,111109,tt2028550,tl,Siglo ng Pagluluwal,...,False,9.0,3.0,2011,Century of Birthing (2011),artist struggl finish work storylin cult play ...,2.997003,Not Rated,True,https://encrypted-tbn0.gstatic.com/images?q=tb...
45409,45409,False,N/R,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",N/R,67758,tt0303758,en,Betrayal,...,False,3.8,6.0,2003,Betrayal (2003),"one hit goe wrong, profession assassin end sui...",0.967586,R,True,https://media.themoviedb.org/t/p/w500/lcZRLBKN...
45410,45410,False,N/R,0,[],N/R,227506,tt0008536,en,Satana likuyushchiy,...,False,0.0,0.0,1917,Satan Triumphant (1917),"small town live two brothers, one minist one h...",0.000000,Not Rated,True,https://encrypted-tbn0.gstatic.com/images?q=tb...
45411,45411,False,N/R,0,[],N/R,461257,tt6980792,en,Queerama,...,False,0.0,0.0,2017,Queerama (2017),"50 year decriminalis homosexu uk, director dai...",0.000000,Not Rated,True,https://encrypted-tbn0.gstatic.com/images?q=tb...

In [137]:
movies_new = df.copy(deep=True)

In [142]:
movies_new.drop('production_countries',axis=1, inplace=True)

In [143]:
movies_new['production_countries'] = df['production_countries']

In [145]:
movies_new['production_countries'] = movies_new['production_countries'].str.replace("'",'"')
movies_new['production_countries'] = movies_new['production_countries'].str.replace("\\",'')

In [149]:
movies_new['new_production_countries'] = None

In [151]:
still_left = movies_new[movies_new['new_production_countries'].isna()]
for i, j in enumerate(still_left.index,1):
    dictin = movies_new.at[j,"production_countries"]
    if dictin == "N/R":
        result = []

    else:
        try:
            result = [k['iso_3166_1'] for k in json.loads(dictin)]
        except:
            pass
    movies_new.at[j,'new_production_countries'] = str(result)

    print("Done {0}, value {1}".format(i, result), end="\r")

In [153]:
movies_new.to_csv("movies_v6.csv",sep='\t')

In [131]:
still_left.at[28,'production_companies'][440:460]

'": "Club d"Investiss'

In [150]:
movies_new

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,new title,overview_cleaned,critically_acclaimed,age_rating,poster_done,poster_link,new_spoken_languages,new_production_companies,production_countries,new_production_countries
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,Toy Story (1995),"led woody, andi toy live happili room andi bir...",2353.324641,G,True,https://m.media-amazon.com/images/M/MV5BMDU2ZW...,['en'],['Pixar Animation Studios'],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",None
1,False,N/R,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",N/R,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,Jumanji (1995),sibl judi peter discov enchant board game open...,778.136085,PG,True,https://m.media-amazon.com/images/M/MV5BZTk2Zm...,"['en', 'fr']","['TriStar Pictures', 'Teitler Film', 'Intersco...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",None
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",N/R,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,Grumpier Old Men (1995),famili wed reignit ancient feud next-door neig...,26.278206,PG-13,True,https://m.media-amazon.com/images/M/MV5BMDkwYT...,['en'],"['Warner Bros.', 'Lancaster Gate']","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",None
3,False,N/R,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",N/R,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,Waiting to Exhale (1995),"cheat on, mistreat step on, women hold breath,...",8.715714,R,True,https://m.media-amazon.com/images/M/MV5BYzcyMD...,['en'],['Twentieth Century Fox Film Corporation'],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",None
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",N/R,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,Father of the Bride Part II (1995),"georg bank recov daughter wedding, receiv news...",40.223204,PG,True,https://m.media-amazon.com/images/M/MV5BOTEyNz...,['en'],"['Sandollar Productions', 'Touchstone Pictures']","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45407,False,N/R,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,Subdue (2017),rise fall man woman.,0.166639,Not Rated,True,https://encrypted-tbn0.gstatic.com/images?q=tb...,['fa'],[],"[{""iso_3166_1"": ""IR"", ""name"": ""Iran""}]",None
45408,False,N/R,0,"[{'id': 18, 'name': 'Drama'}]",N/R,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,Century of Birthing (2011),artist struggl finish work storylin cult play ...,2.997003,Not Rated,True,https://encrypted-tbn0.gstatic.com/images?q=tb...,['tl'],['Sine Olivia'],"[{""iso_3166_1"": ""PH"", ""name"": ""Philippines""}]",None
45409,False,N/R,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",N/R,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,Betrayal (2003),"one hit goe wrong, profession assassin end sui...",0.967586,R,True,https://media.themoviedb.org/t/p/w500/lcZRLBKN...,['en'],['American World Pictures'],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",None
45410,False,N/R,0,[],N/R,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,Satan Triumphant (1917),"small town live two brothers, one minist one h...",0.000000,Not Rated,True,https://encrypted-tbn0.gstatic.com/images?q=tb...,[],['Yermoliev'],"[{""iso_3166_1"": ""RU"", ""name"": ""Russia""}]",None
45411,False,N/R,0,[],N/R,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,Queerama (2017),"50 year decriminalis homosexu uk, director dai...",0.000000,Not Rated,True,https://encrypted-tbn0.gstatic.com/images?q=tb...,['en'],[],"[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""}]",None

In [61]:
df.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count', 'release_year', 'new title',
       'overview_cleaned', 'critically_acclaimed', 'age_rating', 'poster_done',
       'poster_link'],
      dtype='object')

In [60]:
df.to_csv("movies_v5.csv", sep="\t")